<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li><a href="home.html">Home</a></li>
          <li class="active"><a href="about.html">About</a></li>
          <li><a href="greece.html">Ancient Greece</a></li>
          <li><a href="italy.html">Italian Renaissance</a></li>
          <li><a href="discussion.html">Discussion</a></li>
        </ul>
        <ul class="nav navbar-nav right">
          <li><a href="register.html">Register</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="account.html">Account</a></li>
        </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6">
          <img src="../static/600x400.png" alt="">
        </div>
        <div class="col-xs-6">
          Daniel Michael DeVito Jr. (born November 17, 1944) is an American actor, director, producer, and screenwriter. He gained prominence for his portrayal of the taxi dispatcher Louie De Palma in the television series Taxi (1978–1983), which won him a Golden Globe Award and an Emmy Award. He plays Frank Reynolds on the FX and FXX sitcom It's Always Sunny in Philadelphia (2006–present).
          <br>
          <br>
          He is known for his film roles in One Flew Over the Cuckoo's Nest (1975), Terms of Endearment (1983) Throw Momma from the Train (1987), Twins (1988), The War of the Roses (1989), Batman Returns (1992), Get Shorty (1995), Matilda (1996), Mars Attacks! (1996), L.A. Confidential (1997), Man on the Moon (1999), Wiener-Dog (2016), and most recently Dumbo (2019). He is also known for his voice roles in such films as Space Jam (1996), Hercules (1997), and The Lorax (2012).
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          DeVito and Michael Shamberg founded Jersey Films. Soon afterwards, Stacey Sher became an equal partner. The production company is known for films such as Pulp Fiction, Garden State, and Freedom Writers. DeVito also owned Jersey Television, which produced the Comedy Central series Reno 911!. DeVito and wife Rhea Perlman starred together in his 1996 film Matilda, based on Roald Dahl's children's novel. DeVito was also one of the producers nominated for an Academy Award for Best Picture for Erin Brockovich.
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          DeVito played Martini in the 1975 film One Flew Over the Cuckoo's Nest, reprising his role from the 1971 off-Broadway play of the same title.

After his time on the Taxi series ended, DeVito devoted more effort to a growing successful film career, appearing as Vernon Dalhart in the 1983 hit Terms of Endearment; as the comic rogue Ralph in the romantic adventure Romancing the Stone (1984), starring Michael Douglas and Kathleen Turner; and its sequel, The Jewel of the Nile (1985). In 1986, DeVito starred in Ruthless People with Bette Midler and Judge Reinhold, and in 1987 he made his feature-directing debut with the dark comedy Throw Momma from the Train, in which he starred with Billy Crystal and Anne Ramsey. He reunited with Douglas and Turner two years later in The War of the Roses (1989), which he directed and in which he co-starred.
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          Other work included Other People's Money with Gregory Peck; director Barry Levinson's Tin Men, as a rival salesman to Richard Dreyfuss' character; the comedies Junior (1994) and Twins (1988) with Arnold Schwarzenegger; playing the villain The Penguin in director Tim Burton's Batman Returns (1992); and the film adaptation Matilda (1996), which he directed and co-produced, along with playing the role of Matilda's father, the villainous car dealer Harry Wormwood.

Although generally a comic actor, DeVito expanded into dramatic roles with The Rainmaker (1997); Hoffa (1992), which he directed and in which he co-starred with Jack Nicholson; Jack the Bear (1993); neo-noir film L.A. Confidential (1997); The Big Kahuna (1999); and Heist (2001), as a gangster nemesis of Joe Moore (Gene Hackman).

DeVito has an interest in documentaries. In 2006 he began a partnership with Morgan Freeman's company ClickStar, for whom he hosts the documentary channel Jersey Docs. He was also interviewed in the documentary Revenge of the Electric Car, discussing his interest in and ownership of electric vehicles.
        </div>
      </div>
  </body>
</html>
