<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li class="active"><a href="home.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="greece.html">Ancient Greece</a></li>
          <li><a href="italy.html">Italian Renaissance</a></li>
          <li><a href="discussion.html">Discussion</a></li>
        </ul>
        <ul class="nav navbar-nav right">
          <li><a href="register.html">Register</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="account.html">Account</a></li>
        </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="title">Dollar Store Philosophy</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
              Welcome to a website all about Philosophy and the Renaissance,
              two of my favorite topics of interest and discussion. In the Navigation Bar above,
              you will find links to this website's many pages, which feature analyses
              of the philosophical views, writings, paintings, sculuptures, and more
              from many greek and Renaissance philosophers. There is also an about page,
              which features a little about what me, how and why I started this website,
              and what my favorite works from these philosphers are. Please hang around for as long as
              you like and enjoy your stay.
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          On this website, the "Italian Renaissance" and "Ancient Greece" pages are places where
          different and important figures from those times are introduced and analyzed. For each philosopher and artist,
          these pages include excerpts from texts of authors in both English and their native languages,
          and it also features paintings, sculptures, theorems, and so much more. There is an in depth analysis
          of each philosopher and artist, so please don't hesitate to check them out! The "Discussion" page is a place
          where you can post about a certain topic, philosopher, or artist and receive comments from anyone with an account!
          If you're afraid to post, don't worry! This website is a place for constructive criticism, support,
          and discussion.
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          In the short term, I hope to establish the front-end of these pages so that I can then begin the back-end.
          For my short terms goals in the back-end of these pages, I hope to create an account system that involves
          registering, logging in, and being able to create a posts on the "Discussion page" and comment on them.
          Obviously, analyzing and describing the lives and works of each philosopher and artist will take some time (
          I will be using software from Google Translate to translate and auditorily output these texts along with having
          them in plain English), as will implementing excerpts from their works, but I am optimistic that I can finish these pieces by the end
          of the year.
        </div>
        <div class="col-xs-6">
          <img src="../static/600x400.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          I hope you decide to create an
          account on this website, post a discussion thread on an interesting topic,
          or comment on a discussion thread. This website is here for your to discuss
          any and all things philosophy, whether it be different views, interests,
          books, authors, etc. If you like philosophy and enjoy talking about it,
          this website is just for you!
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <img src="../static/600x400.png" alt="">
        </div>
        <div class="col-xs-6">
          Even if you don't like philosophy, please
          give this website a try and read some discussion threads. I hope they pique your interest!
          If you don't like philosophy, try out discussion threads on the Italian Renaissance
          and its sculptors, painters, writers, artisans, leaders, mathemeticians, and philosophers.
          If you want see the best of both worlds, try out the threads discussing and connecting both topics and
          how they relate to one another.
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          A little introduction into this website is how
          <a href="https://i.imgur.com/KOXOBiN.gif" target="_blank" id="philosophy">philosophy</a>
          impacts my life in so many ways as a student.
          What is the question of life? Is it advantageous to be just?
          What does it mean to be good? Are the actions of humans
          determined by their personalities or are the personalities
          of humans determined by their actions? These debates have
          gone on for thousands of years and yet are still left
          completely unanswered. That's because we may never know
          what that right answer is. We can debate for as long as
          time wants us to, but we we may never truly find out the moral
          construction of our minds.
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        Some Philosophers that will be featured on this website are: Socrates,
        Plato, Aristotle, Pythagoras, Thales, Herodotus, Euripides, Sophocles,
        Aeschylus, and more. Think of Renaissance painter Raffaello Sanzio da Urbino's,
        (or Raphael's) painting, the School of Athens. It is actually the background for this website.
        It features a great number of mathemeticians, astronomers, artisans, philosophers, and scholars,
        many of whom are more than just one thing on that list. That's what it means to be
        someone of the "Renaissance". You are a Jack of All Trades of sorts, embody many talents
        and skills to occupy your time with. These artisans are precisely that: Renaissance.
      </div>
      <div class="col-xs-6">
        <img src="../static/600x400.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        Pythagoras is most famous for his theorem that a² + b² = c², but he was also a philosopher.
        The same goes for Thales, who is famous for a theorem of his own. These people, though they
        came before the Renaissance, were the Renaissance. Of course, by the Renaissance, I mean
        the Italian Renaissance in the 1400s. This is the period of artists like Michelangelo, with
        his beautiful works like the Sistine Chaple, Raphael, with the magnificent and aforementioned School
        of Athens, and Leonardo DaVinci with the highly acclaimed Mona Lisa. These people were
        similar to the philosophers of the past because they shared the same hunger for knowledge
        and taste for different things. Writers like Dante, Christopher Marlowe, and Thomas More
        wrote with the pen of adventure, unafraid to boldly take the first step into traversing
        uncharted territory with a newfound ink of rebirth.
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        Fun fact: Did you know that the word "philosopher" drives from the greek words "φιλος", meaning "friend" as an noun or "dear" as an adjective, and "σοφος", meaning "wise" or "clever".
      </div>
    </div>
  </body>
</html>
